{{ define "main" }}
  {{ partial "page-header" . }}


  <article
    class="gdoc-markdown gdoc-markdown__align--{{ default "left" (.Page.Params.GeekdocAlign | lower) }}"
  >
    <h1>{{ partial "utils/title" . }}</h1>
    <div class="flex flex-wrap align-center gdoc-post__meta gdoc-post__meta--head">
        {{ partial "posts/metadata.html" . }}
    </div>




    {{ partial "utils/content" . }}
  </article>
<br>
<br>
<br>
<br>

<!--disqus-->
<div class="disqus markdown">
    {{ partial "disqus.html" . }}
</div>
{{ end }}
